.team {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
  background: #e7e7e7;
  mix-blend-mode: normal;
}

.teamTitle {
  width: 100%;
  height: 20%;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamTitle .title {
  background: linear-gradient(180deg, #ff2056 0%, #9b0151 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 900;
  font-size: 3.5vw;
}

.teamTitle .subtitle {
  background: linear-gradient(180deg, #ff2056 0%, #9b0151 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 500;
  font-size: 2vw;
}

.teamMembers {
  width: 90vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member {
  width: 23vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member .teamMemberPhoto {
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.member .teamMemberPhoto img {
  width: 14vw;
}

.member .teamMemberDescription {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member .teamMemberDescription p {
  color: #626262;
  text-align: center;
  font-weight: 400;
  font-size: 1vw;
}

.teamFooter {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.teamFooter .footer {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 10vw;
  text-align: center;
  color: #e7e7e7;
  text-shadow: 0 0 2px black;
}

@media (max-width: 500px) {
  .teamMembers {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .member {
    margin-top: 20vw;
    align-items: center;
    justify-content: center;
  }

  .member .teamMemberPhoto {
    display: flex;
  }

  .member .teamMemberPhoto img {
    width: 30vw;
  }
}
